@font-face {font-family:'TimesNewArial'; src:url('../fonts/TimesNewArialVariable.woff2');}

/*
@font-face {font-family: 'EuropaGroNr2SB-Rom';src: url('../fonts/32FADC_0_0.eot');src: url('../fonts/32FADC_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/32FADC_0_0.woff2') format('woff2'),url('../fonts/32FADC_0_0.woff') format('woff'),url('../fonts/32FADC_0_0.ttf') format('truetype');}


@font-face {font-family: 'EuropaGroNr2SB-Ita';src: url('../fonts/32FADC_1_0.eot');src: url('../fonts/32FADC_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/32FADC_1_0.woff2') format('woff2'),url('../fonts/32FADC_1_0.woff') format('woff'),url('../fonts/32FADC_1_0.ttf') format('truetype');}


@font-face {font-family: 'EuropaGroNr2SB-Med';src: url('../fonts/33B10F_0_0.eot');src: url('../fonts/33B10F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33B10F_0_0.woff2') format('woff2'),url('../fonts/33B10F_0_0.woff') format('woff'),url('../fonts/33B10F_0_0.ttf') format('truetype');} */
