/* radio */
.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	border-radius: 9px;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
}
.jcf-radio span{
	display:none;
	position:absolute;
	top:3px;
	left:3px;
	right:3px;
	bottom:3px;
	background:#777;
	border-radius:100%;
}
.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-checked span {display:block;}

/* checkbox */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #5f5e54;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
}
.jcf-checkbox span{
	position: absolute;
	display: none;
	height: 5px;
	width: 12px;
	top: 50%;
	left: 50%;
	margin: -3px 0 0 -6px;
	border: 2px solid #ff9b14;
	border-width: 0 0 2px 2px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}
:root .jcf-checkbox span {
	margin: -3px 0 0 -6px;
}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}


/* common styles */
.jcf-disabled {background: #fff !important;
	border-color: #c3c1b5!important;}

.jcf-disabled  span{border-color: #c3c1b5!important;}
