
/*
.tx-ws-flexslider .caption-title { font-family:'Times New Roman', Arial; font-weight: normal; font-size: 32px; margin-bottom:0;}
.tx-ws-flexslider .caption-body p { margin-bottom: 0px; margin-top:0px;}
.tx-ws-flexslider .caption-text { padding: 0px; }
.tx-ws-flexslider p.caption-title { margin-top:0px;}

.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}
*/
