#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#outerImageContainer #bottomNavClose{ position: absolute; top:6px; right:20px; outline: none;}	 	
#imageContainer{ position:relative; padding: 30px 20px 20px 20px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }

#prevLink, #nextLink{ width: 49%; height: 21px; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { float: left; }
#nextLink { float: right; }
#prevLink, #prevLink:visited:hover { background: url(/pics/prevlabel.gif) left 50% no-repeat; }
#nextLink, #nextLink:visited:hover { background: url(/pics/nextlabel.gif) right 50% no-repeat; }

#imageDataContainer{ position:relative; font-size: 1.2em; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{ position:relative; padding:0 20px; color: #666; }
#imageData #imageDetails{ width: 100%; float: left; text-align: left; }	
#imageData #caption{ font-weight: normal; display:block; padding-bottom:21px; }
#imageData #numberDisplay{ font-size:1.8em; text-align: center; display: block; clear: left; padding: 1em;	}			
#hoverNav{ display:block; width:100%; height:21px; float:left; font-size:1.8em; margin-top:-2em; clear:both; }
#imageData>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
