/* Farbvarianten der Bereiche */
body.bgcolor_0 { background-color:#d4d5d7; }
body.bgcolor_1 { background-color:#d4d5d7; }
body.bgcolor_2 { background-color:#d4d5d7; }
body.bgcolor_3 { background-color:#d4d5d7; }
body.bgcolor_4 { background-color:#d4d5d7; }
body.bgcolor_5 { background-color:#d4d5d7; }
body.bgcolor_6 { background-color:#d4d5d7; }
body.bgcolor_7 { background-color:#d4d5d7; }
body.bgcolor_8 { background-color:#d4d5d7; }
body.bgcolor_9 { background-color:#d4d5d7; }


	
