/* MENU */

.mobile-menu-main,
.mobile-menu-main ul {
    margin: 0;
    padding: 0;
    background: tranparent;
    color: #fff;
    list-style: none;
    text-transform: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 40px;
}

.mobile-menu-main { position: fixed; z-index: 1; top: 0; right: 0; width: 50px; height: 50px; font-size: 18px;}


.mobile-menu-main a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav .mobile-menu a:hover,
nav .mobile-menu a:focus{
    background: rgba(0,0,0,0.4);
    color: #fff;
}
.mobile-menu-main nav a .anchor-icon,
.mobile-menu-main nav a span[class^="fa fa-"],
.mobile-menu-main nav a span[class*=" fa fa-"],
.mobile-menu-main nav a span[class^="icon-"],
.mobile-menu-main nav a span[class*=" icon-"] {
    background: none rgba(0, 0, 0, 0) url() url();
    display: inline-block;
    padding: 5px 0 5px 0;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.mobile-menu-main > li {
    display: block;
    float: left;
    height: 100%;
    text-align: right;
}

.mobile-menu-main li.mobile-trigger > a {
    display: block;
    background-color: #34495e;
    position: relative;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile-menu-main > li { border-right-style: none; }

.mobile-menu-main > li > a {
    padding: 5px;
    font-weight: bold;
}

.mobile-menu-main:after {
    display: table;
    clear: both;
    content: "";
}

.mobile-menu-wrapper { background-color: #34495e; position: fixed; top: 0; bottom: 0; left: 0; overflow: hidden; width: 0; z-index: 1; -webkit-transform: translateX(-0px); -moz-transform: translateX(-0px); -ms-transform: translateX(-0px); transform: translateX(-0px); -webkit-transition: -webkit-transform 0.3s, width 0.3s; -moz-transition: -moz-transform 0.3s, width 0.3s; transition: transform 0.3s, width 0.3s; }
.mobile-close {
	border-bottom: 1px solid #aaa;
	line-height: 40px;
	text-align: right;
	width: 305px;
	height: 40px;
	padding: 4px 15px 5px 5px;
}

.mobile-scroller {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 320px;
    height: 100%;
    z-index: 0;

}

.mobile-menu {
    border-bottom: 1px solid #aaa;
    text-align: left;
    font-size: 18px;
}

.mobile-menu li:not(:first-child),
.mobile-menu li li {
    box-shadow: inset 0 1px #aaa
}

nav .mobile-menu li a {
    display: block;
}

nav .mobile-menu li a span{
    vertical-align: middle;
}

nav .mobile-menu li a:before {
    margin-right: 5px;
}

nav .mobile-menu a {
    padding: 5px;
}

.mobile-menu-main nav li li a{ padding-left: 15px; }

.mobile-menu-main nav li li li a{
    color: #888;
}
.mobile-menu-main nav li li a:hover,
.mobile-menu-main nav li li li a:focus{
    color: #FFF;
}


/* OPENED MENU */

.mobile-menu-wrapper.menu-open-all,
.mobile-menu-wrapper.menu-open-icon {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.mobile-menu-wrapper.menu-open-all {
    width: 320px;
}

/* SUB MENU */
.mobile-menu-wrapper .mobile-menu ul {
    border-bottom: 0 none;
}

.mobile-menu-wrapper .mobile-menu ul li a{
    display: none;
}

.mobile-menu-wrapper.menu-open-all .mobile-menu ul li a,
.mobile-menu-wrapper.menu-open-all .mobile-menu.menu-style ul li a{
    display: block;
    -webkit-animation: subMove 0.25s;
    -moz-animation: subMove 0.25s;
    -ms-animation: subMove 0.25s;
    animation: subMove 0.25s;

    animation-iteration-count: 1;
    animation-fill-mode: forward;
}

.mobile-menu-wrapper.menu-close-all .mobile-menu ul li a{
    translate(80%, -100%);
    box-shadow: none;

}


/* ANIMATION */


@-webkit-keyframes subMove {
    0%   {transform: translate(0px, -100%);}
    100% {transform: translate(0px, 0px);}
}

@-moz-keyframes subMove {
    0%   {transform: translate(0px, -100%);}
    100% {transform: translate(0px, 0px);}
}

@-ms-keyframes subMove {
    0%   {transform: translate(0px, -100%);}
    100% {transform: translate(0px, 0px);}
}

@keyframes subMove {
    0%   {transform: translate(0px, -100%);}
    100% {transform: translate(0px, 0px);}
}


/* RESPONSIVE */

@media screen and (max-width: 360px) {
	.mobile-menu-wrapper.menu-open-all {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        width: calc(100%);
	}

	.mobile-menu-wrapper.menu-open-all .mobile-scroller {
        width: calc(100% + 30px)px;
	}
}
